<!DOCTYPE html>

<title>somali-proverb</title>
<link
	rel="stylesheet"
	href="{{ url_for('static', filename='styles/style.css') }}"
/>
<link rel="icon" href="{{url_for('static', filename='leaf-solid.svg')}}" />
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"
></script>

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous"
/>
<script
	src="https://kit.fontawesome.com/8d183cb119.js"
	crossorigin="anonymous"
></script>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand fa fa-leaf" href="{{ url_for('index') }}"
			>MaahMaah
		</a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarNav"
			aria-controls="navbarNav"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			{% if current_user.is_authenticated %}
			<ul class="navbar-nav">
				<li class="nav-item">
					<a
						class="nav-link active"
						aria-current="page"
						href="{{ url_for('index') }}"
						>Home</a
					>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="{{ url_for('about') }}">About</a>
				</li>
			</ul>
			<ul class="navbar-nav ms-auto">
				<li class="nav-item">
					<a class="nav-link active" href="#">{{ current_user.username }}</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
				</li>
			</ul>
			{% else %}
			<ul class="navbar-nav ms-auto">
				<li class="nav-item">
					<a class="nav-link active" href="{{ url_for('login') }}">Sign In</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="{{ url_for('register') }}"
						>Register</a
					>
				</li>
			</ul>

			{% endif %}
		</div>
	</div>
</nav>

<section class="content">
	<header>{% block header %}{% endblock %}</header>
	{% for message in get_flashed_messages() %}
	<div class="flash">{{ message }}</div>
	{% endfor %} {% block content %}{% endblock %}
</section>
