{% extends "base.html" %} {% block header %}
<h1>Proberbs</h1>
<a class="add-action btn btn-outline-dark" href="{{ url_for('add') }}"
	>add proverb</a
>
{% endblock %} {% block content%} {% for p in proverbs %}
<article class="post">
	<header>
		<div>
			<h4>{{ p.proverb }}</h4>
			{#
			<!-- <div class="about">
				by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}
			</div> -->
			--> #}
		</div>
		<a href="/delete/{{ p.id }}" class="del-action">
			<i class="fa fa-trash-alt"></i>
		</a>
	</header>
	{% if p.translation %}
	<p class="body"><span>Translation:</span> {{ p.translation }}</p>
	{% endif %}
</article>
{% if not loop.last %}
<hr />
{% endif %} {% endfor %} {% endblock %}
