{% extends "base.html" %} {% block content %}
<head>
  <style>
    ol {
      transition: 0.9s;
    }
    li span {
      font-size: 1.2rem;
    }
    .turjumid {
      color: rgb(78, 78, 78);
      font-size: 1rem;
    }
    i {
      color: rgba(122, 30, 30, 0.801);
      margin-left: 7px;
    }
    i:hover {
      color: crimson;
    }
  </style>
</head>
<h1>Somali Proverbs</h1>
<form action="" method="POST" novalidate>
  {{ form.hidden_tag() }}
  <p>
    {{ form.proverb.label }}<br />
    {{ form.proverb(size=32, placeholder='maahmaah') }}<br />
    {% for error in form.proverb.errors %}
    <span style="color: red">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.translation.label }}<br />
    {{ form.translation(size=32, placeholder='translate') }}<br />
    {% for error in form.translation.errors %}
    <span style="color: red">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>{{ form.submit() }}</p>
  <h2>MaahMaahyo</h2>
  <ol>
    {% for p in proverbs %} {% if p.translation %}
    <li>
      <span class="maahmaah">{{ p.proverb}}</span>
      <a href="/delete/{{ p.id }}"><i class="fa fa-trash-alt"></i></a><br />
      <span class="turjumid">Translation:{{ p.translation }}</span>

      <!-- <a href="/update/{{p.id}}">update</a> -->
    </li>
    {% else %}
    <li>
      <span class="maahmaah m-only">{{ p.proverb}}</span>
      <a href="/delete/{{ p.id }}"><i class="fa fa-trash-alt"></i></a>
    </li>

    {% endif %} {% endfor %}
  </ol>
</form>
{% endblock %}
